.main-section {
    background-color: lightgrey;
    
    .post {
        background-color: lightgreen;

        p {
            font-weight: bold;

            &.first-paragraph {
                color: red;
            }
        }
    }
}

