body {
    background-color: lightskyblue;
}

#container {
	background-color: beige;
	margin-bottom: 10px;
}

.even {
	background-color: orange;
}

span {
	padding: 0 20px;
	border-right: 1px solid red;
}

.neon-cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: lighten;
  transform: translate(-5px, -5px);
  transition: all 0.05s ease-out;
  will-change: transform, opacity;
}

.neon-trail {
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #ff0;
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: lighten;
  transform: translate(-5px, -5px);
  opacity: 0;
  will-change: transform, opacity;
  transition: opacity 0.3s ease-out;
}
