/* Base styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    width: 70px;
    border: 1px solid #007bff;
    border-bottom: 0;
}

section {
    padding: 120px 0; 
}

.section-header {
    margin-bottom: 75px;
}

/* Czemu zgodne z instrukcją, .section header h2 {} nie wchodziło?

///

ROZWIĄZANIE - bo miałem błąd rodzinny w indexie - niedmokniety header*/

.section-header h2 {
    color: #333;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border: 1px solid #007bff;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 2s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    display: inline-block;
    margin: auto;
    background-color: transparent;
}

.btn:hover {
    background-color: #007bff;
    color: white;
    padding: 10px 22px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}



/* justify-content - poziom / allign- pion 

//

*/
/* Header styles */


.main-header {
    
    height: 70vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-header-content {
    text-align: center;
}

.main-header .main-header-content h1 {
    font-size: 4.2em;
    text-transform: uppercase;
    color: #007bff;
    margin: 0%;
}

.main-header .main-header-content p {
    color: #333;
    font-size: 1.3em;
    margin: 40px, 0;
}

.main-header .main-header-content p span {
    color: #007bff;
}

/* .main-header .main-header-content a {
    border: 1px solid blue;
    font-weight: 300;
    text-transform: uppercase;
} */

/* main-menu styles  */

.main-menu {
    background-color:#007bff;
}

#drop-nav {
    display: none;
}

label[for="drop-nav"] {
    display: none;
}

.main-menu ul {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.main-menu ul .menu-item {
    display: inline-block;
    margin: 0 10px;
}

.main-menu ul .menu-item a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: all 1.5s;
    border-radius: 16px;
}

.main-menu ul .menu-item a:hover {
    color: black;
    background-color: white;
}

/* About section styles */

.about {
    text-align: center;
}

.about .about-img {
    border-radius: 50%;
}

/* Marginesy kolejność jak w zegarku - górny-prawy-dolny-lewy */

.about p {
    max-width: 700px;
    margin: 40px auto 30px auto;
    color: #777;
    line-height: 1.4em;
}

/* Portfolio section styles  */

.portfolio {
    background-color: #f2f1ed;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-wrapper .portfolio-item {
    flex-basis: 25%;
    height: 200px;
    position: relative;
}

/* Dzięki temu co poniżej obrazki dostosują się do szerokości tych kolumn określonych powyżej, 25% // object-fit dziala tutaj tak tak, jak w przypadku background-size:cover na tlo*/

.portfolio-wrapper .portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* W przypadku poniżej środkowanie w pionie line-heightem o wysokości elementu się robi. Dobrze wiedzieć

Sprytne - ukrycie opacity*/

.portfolio-wrapper .portfolio-item h3 {
    position: absolute;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 123, 255, 0.8);
    margin: 0;
    text-align: center;
    line-height: 200px;
    color: white;
    font-weight: 300;
    font-size: 3em;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio-wrapper .portfolio-item h3:hover {
    opacity: 100%;
}

/* Contact section */

.contact form {
    max-width: 700px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact input[type=text],
.contact input[type=email] {
    flex-basis: 48%;
    padding: 15px;
    margin-bottom: 15px;
}

.contact textarea {
    flex-basis: 100%;
    padding: 15px;
    margin-bottom: 15px;
    height: 100px;
}

/* Social media icons */

.social-links {
    margin-top: 75px;
    text-align: center;
}

.social-link {
    font-size: 2.5em;
    color: #007bff;
    transition: all 1.5s;
    cursor: pointer;
    display: inline-block;
    margin: 0 20px;
}

.social-link:hover {
    color: #777;
}

/* Stopka */

.main-footer {
    background-color: #f2f1ed;
    padding: 30px;
    text-align: center;
    color: #777;
}

/* Responsive styles - media  */

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .portfolio-wrapper .portfolio-item {
        flex-basis: 50%;
    }

}


@media (max-width: 768px) {

    .container {
        max-width: 95%;
    }

    .portfolio-wrapper .portfolio-item {
        flex-basis: 100%;
    }
    
}

@media (max-width: 480px) {
    .main-header .main-header-content h1 {
        font-size: 3em;
    }

    .about .about-img {
        max-width: 200px;
        max-height: 200px;
    }
    
    .contact input[type="text"]
    .contact input[type="email"] {
        flex-basis: 100%;
    }
    


/* To w ramach ciekawostki i bonusu, zazwyczaj takie zabawy zostawiamy na JavaScript ///

NA PRZYSZLOSC PATRZEC UWAZNIE NA KLAMRY. 30 MIN POSZLO PSU W PIACH */

    label[for="drop-nav"] {
        display: block;
        padding: 14px 20px;
        color: white;
        text-transform: uppercase;
        font-size: 1.5em;
        text-align: right;
        cursor: pointer;
    }

    .main-menu ul {
        display: none;
    }

    #drop-nav:checked + ul {
        display: block;
    }

    .main-menu ul .menu-item {
        display: block;
        text-align: right;
        margin: 0;
    }

}