* {
    box-sizing: border-box;
}

p {
    color: $base-font-color;
    font-size: $base-font-size;
}

a {
    color: $base-font-color;

    &:hover {
        color: blue;
    }
}

header {
    text-align: center;

    p {
        color: green;
    }
}

.col-1-3 {
   @include col-1-3(33.33%, 20px);
}