body {
    background-color: lightskyblue;
}

#container {
	background-color: beige;
	margin-bottom: 10px;
}

.main-buttons {
	margin-bottom: 30px;
}

.even {
	background-color: orange;
}

span {
	padding: 0 20px;
	border-right: 1px solid red;
}