article {
    background-color: #faebd6;
}

h1 {
    color: #ff0000;
    font-size:xx-large;
}

#color1 {
    color: #a42423;
    font-size:large;
}

#color2 {
    color: #00008f;
    font-size:large;
}
