body {
    background: linear-gradient(90deg, rgba(255,237,30,1) 0%, rgba(8,277,177,1) 35%, rgba(254,39,56,1) 100%);
    display: block;
    margin: 8px;
}

div {
    height: 200px;
    width: 30%;
    margin-bottom: 15px;
}

.predefined {
    background-color: purple;
}

.hexadecimal {
    background-color: #cd0000;
}

/* to jest równe #00ff00  */
.hexadecimal-short {
    background-color: #0f0; 
}

.rgb {
    background-color: rgb(0, 0, 255);
}

.rgba {
    background-color: rgba(10, 88, 79, 0.5);
}