.page-footer {
    text-align: center;
    padding: 30px 0;

    img {
        width: 100px;
    }

    .footer-nav {
        .menu {
            @include menu-list;
            padding: 20px 0;

            .menu-item {
                padding: 15px 0;
            }
        }
    }
}