body {
    background-color: #bbb;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wrapper p {
    margin-top: 40px;
}

form.login {
    border: 1px solid red;
    padding: 20px;
    text-align: right;
}

form.login button {
    border: 0;
    padding: 10px 20px;
}

div.break {
    flex-basis: 100%;
    height: 0;
}